---

---
<header class="header">
    <a href="/" class="header__logo__link">
        <img class="header__logo__img" src="/assets/logo.png" alt="Our logo" srcset="">
    </a>
    <nav class="nav">
        <ul class="nav__links">
            <li class="nav__btn"><a href="/" class="nav__link">Home</a></li>
            <li class="nav__btn"><a href="/about" class="nav__link">About</a></li>
            <li class="nav__btn"><a href="/contact" class="nav__link">Contact</a></li>
            <li class="nav__btn app"><a href="/app" class="nav__link">Go Back Home</a></li>
        </ul>
    </nav>
</header>
<style lang="scss">
    @use '../../styles/components/header.scss' as *;
</style>