---

---
<section class="hero">
    <h1>AWS Cost Explorer</h1>
    <p>Your go-to solution for tracking and managing AWS costs effectively.</p>
</section>
<style lang="scss">
    @use '../styles/components/hero.scss' as *;
</style>